body {
    overflow-y: auto;
}

/* Overall calendar container */
.rbc-calendar {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    border: 1px solid #f0f0f0;
    border-radius: 10px;
    overflow: hidden;
    height: auto !important;

}

/* Header styling */
.rbc-toolbar {
    padding: 10px;
    background-color: #fafafa;
    border-bottom: 1px solid #f0f0f0;
    flex-wrap: wrap;
}

.rbc-toolbar button {
    color: #333;
    background-color: transparent;
    border: 1px solid #d9d9d9;
    border-radius: 6px;
    padding: 4px 15px;
    font-size: 14px;
    transition: all 0.3s;
    margin: 2px;
}

.rbc-toolbar button:hover {
    color: #333;
    border-color: #d9d9d9;
    background-color: #f5f5f5;
}

.rbc-toolbar button.rbc-active {
    background-color: #e6e6e6;
    color: #333;
    border-color: #d9d9d9;
}

/* Month view */
.rbc-month-view {
    border: none;
}

.rbc-month-header {
    background-color: #fafafa;
    border-bottom: 1px solid #f0f0f0;
}

.rbc-header {
    padding: 10px;
    font-weight: 500;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.85);
}

.rbc-date-cell {
    padding: 5px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.65);
}

.rbc-date-cell>a {
    margin-bottom: auto;
}

.rbc-off-range {
    color: rgba(0, 0, 0, 0.25);
}

.rbc-today {
    background-color: #f7f7f7;
}

/* Event styling */
.rbc-event {
    background-color: #1890ff;
    border: none;
    border-radius: 6px;
    color: white;
    padding: 2px 5px;
}

.rbc-event-content {
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Agenda view */
.rbc-agenda-view table {
    border: none;
}

.rbc-agenda-view table thead {
    background-color: #fafafa;
    border-bottom: 1px solid #f0f0f0;
}

.rbc-agenda-view table.rbc-agenda-table tbody>tr>td {
    padding: 10px;
    border-bottom: 1px solid #f0f0f0;
}

/* Time grid */
.rbc-time-view {
    border: none;
}

.rbc-time-header {
    background-color: #fafafa;
    border-bottom: 1px solid #f0f0f0;
}

.rbc-time-slot {
    border-top: 1px solid #f0f0f0;
}

.rbc-timeslot-group {
    border-bottom: 1px solid #f0f0f0;
}

.rbc-time-gutter {
    background-color: #fafafa;
}

/* Overrides for a cleaner look */
.rbc-off-range-bg {
    background-color: #fafafa;
}

.rbc-day-bg {
    border-left: none;
    border-right: none;
    border-bottom: none;
}

.rbc-month-view .rbc-day-bg:not(.rbc-off-range-bg) {
    background-color: white;
}

.rbc-row-segment {
    padding: 1px 3px;
}

/* Additional styles for rounder look */
.rbc-day-bg:first-child {
    border-top-left-radius: 10px;
}

.rbc-day-bg:last-child {
    border-top-right-radius: 10px;
}

.rbc-month-row:last-child .rbc-day-bg:first-child {
    border-bottom-left-radius: 10px;
}

.rbc-month-row:last-child .rbc-day-bg:last-child {
    border-bottom-right-radius: 10px;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
    body {
        overflow-y: auto;
        /* Zadržava globalno vertikalno skrolanje */
    }

    .rbc-calendar {
        height: auto !important;
        /* Kalendar se prilagođava visini sadržaja */
        overflow: visible;
        /* Uklanja unutarnje skrolanje */
    }

    .rbc-time-view {
        overflow: visible;
        /* Osigurava da vremenski prikaz ne skrolira interno */
    }

    .rbc-time-content {
        height: auto !important;
        /* Dinamična visina za vremenski prikaz */
    }

    .rbc-toolbar {
        flex-direction: column;
        align-items: stretch;
    }

    .rbc-toolbar-label {
        margin: 10px 0;
    }

    .rbc-btn-group {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .rbc-btn-group button {
        flex-grow: 1;
        margin: 2px;
    }

    .rbc-event-content {
        font-size: 10px;
    }

    .rbc-header {
        padding: 5px;
        font-size: 12px;
    }

    .rbc-date-cell {
        font-size: 12px;
    }
}

@media screen and (max-width: 480px) {
    .rbc-calendar {
        height: auto !important;
        /* Visina prilagođena sadržaju na manjim uređajima */
        overflow: visible;
        /* Uklanja unutarnje skrolanje */
    }

    .rbc-toolbar button {
        padding: 2px 5px;
        font-size: 12px;
    }

    .rbc-event-content {
        font-size: 8px;
    }
}