.custom-dots-container {
    position: absolute;
    bottom: 16px !important;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}

.custom-dot {
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background-color: #ccc;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.slick-active .custom-dot {
    background-color: #666;
}

@media (max-width: 768px) {
    .custom-dots-container {
        bottom: 8px !important;
    }

    .custom-dot {
        width: 8px;
        height: 8px;
        margin: 0 4px;
    }
}

