[class~='ant-carousel'] {
    [class~='slick-slider'] {
        .slick-dots {
            background-color: rgba(237, 237, 237, 1);
            /* Svijetla pozadina, puna opacitet */
            width: auto;
            max-width: 120px;
            height: 30px;
            padding: 5px;
            border-radius: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            z-index: 1;
        }

        li {
            margin: 0 6px;

            button {
                width: 13px;
                height: 13px;
                border-radius: 50%;
                /* Zaobljeni gumbi */
                background-color: rgb(80, 80, 80);
                /* Tamno siva boja */
                align-self: center; // Centriranje točke unutar li
            }
        }

        li.slick-active button {
            background-color: rgb(70, 70, 70);
            /* Tamna siva za aktivnu točku */
        }
    }
}